

header {
    text-align: center;
    padding: 20px;
    background-color: rgb(62, 0, 84);
    color: white;
    margin-bottom: 20px;
}
.wf2 fieldset{
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;

}
.wf2 legend {
    color: blue;
    padding: 0 .5rem;



}
.wf2 label {
    display: block;
    padding-top: 1rem;
    color:black;
    font-size: .9rem;
}
.wf2 div {
    padding-top: 1rem;
    color:blue ;
    font-size: .9rem;

}


.wf2 input[type="text"],
.wf2 input[type = "date"],
.wf2 input[type = "select"],
.wf2 select

{
    background-color: #eee;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

/* Input Styles */
input[type="text"],
input[type="date"],
select,
    textarea {
    width: 100%;
    max-width: 400px;
    appearance: none;

}


.wf2 input[type = "text"]
{
    padding: 50px;
}
.wf2 input[type = "submit"]
{
    
    color:black;
    border: none;
    padding: 25px 230px;
    border: 1px solid #999;
    margin-top: 1rem;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: rgb(62, 0, 84);
    color: white;
    margin-top: 20px;
}

