@media (min-width: 600px) {
    /* Main Layout adjustments */
    main {
        padding: 2rem 1.5rem;
    }

    /* Shift grid layout to exactly 2 columns */
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}


@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }
    header h1 {
        font-size: 2rem;
        margin-bottom: 0;
    }
    #menu-toggle {
        display: none;
    }
    nav ul {
        display: flex !important;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
    }
    nav a {
        padding: 0.25rem 0;
        border-bottom: none;
    }
    nav a:hover {
        color: #007acc;
    }
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        
    }
    figure {
        transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94),
        box-shadow 0.25s ease;
    }
    figure:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
}

