* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main { 
    display: flex;
    flex-direction: column;
    gap: 5rem;
    text-align: center;
    align-items: center;
    padding: 1rem;

}

h1 {
    margin: 1rem ;


}
img {
    width: 400px;
    height: 600px;
    object-fit: cover;
    border-radius: 0.5rem;
    background-color: black;
    animation: fade 15s ;

}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}